	  <div class="deo-center" style="text-align: center;">
        <div class="wistia-videos">
        <h2>{{ settings.ls-headline }}</h2><br />
		<div class="flex">
            <div class="floatbox" >  <!-- #f3bbbb -->
              {{ settings.wistia-1 }}
            </div>
            <div class="floatbox" >
              {{ settings.wistia-2 }}    
            </div>
      	</div>
        </div>

        <div class="deo-center bottom media-container" style="text-align: center; ">
          <div class="media-testimonial">
            <img src="{{ 'elle.jpg' | asset_url }}" />
            {{ settings.deo-testimonial-1 }}
          </div>
          <div class="media-testimonial">
            <img src="{{ 'refinery.jpg' | asset_url }}" />
            {{ settings.deo-testimonial-2 }}
          </div>

          <div class="media-testimonial">
            <img src="{{ 'everygirl.jpg' | asset_url }}" style="padding-bottom: 15px" />
            {{ settings.deo-testimonial-3 }}
          </div>
          <div class="media-testimonial">
            <img src="{{ 'darling.jpg' | asset_url }}" />
            {{ settings.deo-testimonial-4 }}
          </div>
    	</div>   
      <div style="clear: both"></div>