<section class="featured-spotlight featured-products">
  <!--<h2 class="section-title section-border"></h2>-->
  
  
 <div class="spotlight-image">
    <a href="{{ settings.spotlight-link }}" data-bg="{{ 'spotlight-image.jpg' | asset_url }}" class="lazyload"></a>
    <div class="spotlight-border"></div>
  </div> 
  
  <div class="spotlight-text">
    <a href="{{settings.spotlight-link }}">
    	<h2>{{ settings.spotlight-name }}</h2>
    	<p>{{ settings.spotlight-text }}</p>
    </a>
  </div>
  
  
  <div class="clearfix"></div>
</section>