<div class="home-promo">
  <div class="content-area">
    <div class="promo-box promo-1">
      <a href="{{settings.promo-1-link}}">
        <h3>{{settings.promo-1-text}} <div class="line"></div></h3>
        <img class="lazyload" data-src="{{ "promo1.jpg" | asset_url }}" alt="Primally Pure masks" />
      </a>
    </div>
    <div class="promo-box promo-2">
      <a href="{{settings.promo-2-link}}">
        <h3>{{settings.promo-2-text}} <div class="line"></div></h3>
        <img class="lazyload" data-src="{{ "promo2.jpg" | asset_url }}" alt="Primally Pure deodorant" />
      </a>
    </div>
    <div class="promo-box promo-3">
      <a href="{{settings.promo-3-link}}">
      <h3>{{settings.promo-3-text}}<div class="line"></div></h3>
        <img class="lazyload" data-src="{{ "promo3.jpg" | asset_url }}" alt="Primally Pure lip balm chapstick" />
      </a>
    </div>
    <div class="clear"></div>
  </div>
</div>