</div>

<script src="//malsup.github.io/min/jquery.cycle2.min.js" defer></script>
<script src="//malsup.github.io/jquery.cycle2.center.js" defer></script>

<section id="test-holder">
<table class="testimonial-container clearfix cycle-slideshow" data-cycle-fx="scrollHorz" data-cycle-pause-on-hover="true"
 data-cycle-speed="100" data-cycle-slides="tr" data-cycle-timeout="9000" data-cycle-center-horz="true" data-cycle-center-vert="true" data-cycle-prev="#prev"
        data-cycle-next="#next">
  
  {% if settings.testimonials1 != '' %}
  <tr class="testim">
  <td class="img">
    <img class="lazyload" data-src="{{ 'testimonial1.jpg' | asset_url }}" alt="{{settings.testimonialsauthor1 }}" />
    </td>
    <td class="p">
  	<p>{{ settings.testimonials1 }} &nbsp;<span class="attribution"><br />{{ settings.testimonialsauthor1 }}</span></p>
    </td>
  </tr>
  {% endif %}
  
  {% if settings.testimonials2 != '' %}
  <tr class="testim">
    <td class="img">
    <img class="lazyload" data-src="{{ 'testimonial2.jpg' | asset_url }}" alt="{{settings.testimonialsauthor2 }}" />
    </td>
    <td class="p">
  	<p>{{ settings.testimonials2 }} &nbsp;<span class="attribution"><br />{{ settings.testimonialsauthor2 }}</span></p>
  </td>
  </tr>
  {% endif %}
  
  {% if settings.testimonials3 != '' %}
  <tr class="testim">
    <td class="img">
    <img class="lazyload" data-src="{{ 'testimonial3.jpg' | asset_url }}" alt="{{settings.testimonialsauthor3 }}" />
    </td>
    <td class="p">
  	<p>{{ settings.testimonials3 }} &nbsp;<span class="attribution"><br />{{ settings.testimonialsauthor3 }}</span></p>
  </td>
  </tr>
  {% endif %}
  
  {% if settings.testimonials4 != '' %}
  <tr class="testim">
  <td class="img">
    <img class="lazyload" data-src="{{ 'testimonial4.jpg' | asset_url }}" alt="{{settings.testimonialsauthor4 }}" />
    </td>
    <td class="p">
  	<p>{{ settings.testimonials4 }} &nbsp;<span class="attribution"><br />{{ settings.testimonialsauthor4 }}</span></p>
  </td>
  </tr>
  {% endif %}
  
  {% if settings.testimonials5 != '' %}
  <tr class="testim">
  <td class="img">
    <img class="lazyload" data-src="{{ 'testimonial5.jpg' | asset_url }}" alt="{{settings.testimonialsauthor5 }}" />
    </td>
    <td class="p">
  	<p>{{ settings.testimonials5 }} &nbsp;<span class="attribution"><br />{{ settings.testimonialsauthor5 }}</span></p>
  </td>
  </tr>
  {% endif %}
  
  {% if settings.testimonials6 != '' %}
  <tr class="testim">
  <td class="img">
    <img class="lazyload" data-src="{{ 'testimonial6.jpg' | asset_url }}" alt="{{settings.testimonialsauthor6 }}" />
    </td>
    <td class="p">
  	<p>{{ settings.testimonials6 }} &nbsp;<span class="attribution"><br />{{ settings.testimonialsauthor6 }}</span></p>
  </td>
  </tr>
  {% endif %}
  
  {% if settings.testimonials7 != '' %}
  <tr class="testim">
  <td class="img">
    <img class="lazyload" data-src="{{ 'testimonial7.jpg' | asset_url }}" alt="{{settings.testimonialsauthor7 }}" />
    </td>
    <td class="p">
  	<p>{{ settings.testimonials7 }} &nbsp;<span class="attribution"><br />{{ settings.testimonialsauthor7 }}</span></p>
  </td>
  </tr>
  {% endif %}
  
  {% if settings.testimonials8 != '' %}
  <tr class="testim">
  <td class="img">
    <img class="lazyload" data-src="{{ 'testimonial8.jpg' | asset_url }}" alt="{{settings.testimonialsauthor8 }}" />
    </td>
    <td class="p">
  	<p>{{ settings.testimonials8 }} &nbsp;<span class="attribution"><br />{{ settings.testimonialsauthor8 }}</span></p>
  </td>
  </tr>
  {% endif %}
  
  {% if settings.testimonials9 != '' %}
  <tr class="testim">
  <td class="img">
    <img class="lazyload" data-src="{{ 'testimonial9.jpg' | asset_url }}" alt="{{settings.testimonialsauthor9 }}" />
    </td>
    <td class="p">
  	<p>{{ settings.testimonials9 }} &nbsp;<span class="attribution"><br />{{ settings.testimonialsauthor9 }}</span></p>
  </td>
  </tr>
  {% endif %}
  
  {% if settings.testimonials10 != '' %}
  <tr class="testim">
  <td class="img">
    <img class="lazyload" data-src="{{ 'testimonial10.jpg' | asset_url }}" alt="{{settings.testimonialsauthor10 }}" />
    </td>
    <td class="p">
  	<p>{{ settings.testimonials10 }} &nbsp;<span class="attribution"><br />{{ settings.testimonialsauthor10 }}</span></p>
  </td>
  </tr>
  {% endif %}
  
  {% if settings.testimonials11 != '' %}
  <tr class="testim">
  <td class="img">
    <img class="lazyload" data-src="{{ 'testimonial11.jpg' | asset_url }}" alt="{{settings.testimonialsauthor11 }}" />
    </td>
    <td class="p">
  	<p>{{ settings.testimonials11 }} &nbsp;<span class="attribution"><br />{{ settings.testimonialsauthor11 }}</span></p>
  </td>
  </tr>
  {% endif %}
  
  {% if settings.testimonials12 != '' %}
  <tr class="testim">
  <td class="img">
    <img class="lazyload" data-src="{{ 'testimonial12.jpg' | asset_url }}" alt="{{settings.testimonialsauthor12 }}" />
    </td>
    <td class="p">
  	<p>{{ settings.testimonials12 }} &nbsp;<span class="attribution"><br />{{ settings.testimonialsauthor12 }}</span></p>
  </td>
  </tr>
  {% endif %}
  
  {% if settings.testimonials13 != '' %}
  <tr class="testim">
  <td class="img">
    <img class="lazyload" data-src="{{ 'testimonial13.jpg' | asset_url }}" alt="{{settings.testimonialsauthor13 }}" />
    </td>
    <td class="p">
  	<p>{{ settings.testimonials13 }} &nbsp;<span class="attribution"><br />{{ settings.testimonialsauthor13 }}</span></p>
  </td>
  </tr>
  {% endif %}
  
  {% if settings.testimonials14 != '' %}
  <tr class="testim">
  <td class="img">
    <img class="lazyload" data-src="{{ 'testimonial14.jpg' | asset_url }}" alt="{{settings.testimonialsauthor14 }}" />
    </td>
    <td class="p">
  	<p>{{ settings.testimonials14 }} &nbsp;<span class="attribution"><br />{{ settings.testimonialsauthor14 }}</span></p>
  </td>
  </tr>
  {% endif %}
  
  {% if settings.testimonials15 != '' %}
  <tr class="testim">
  <td class="img">
    <img class="lazyload" data-src="{{ 'testimonial15.jpg' | asset_url }}" alt="{{settings.testimonialsauthor15 }}" />
    </td>
    <td class="p">
  	<p>{{ settings.testimonials15 }} &nbsp;<span class="attribution"><br />{{ settings.testimonialsauthor15 }}</span></p>
  </td>
  </tr>
  {% endif %}
  
  
</table>
  
  <span id="prev"><img class="lazyload" data-src="{{ 'larr.png' | asset_url }}" /></span>
  <span id="next"><img class="lazyload" data-src="{{ 'rarr.png' | asset_url }}" /></span>
</section>



{% comment %}

<section class="featured-testimonials clearfix">
  	<h2 class="section-title section-border">From our Customers</h2>
  
    <div class="testimonial">
      {% if settings.testimonials1 != blank %}
      <div class="test">
        <p>{{ settings.testimonials1 }}</p>
        <p class="attribution">{{ settings.testimonialsauthor1 }}</p>
      </div>
      {% endif %}
      
      {% if settings.testimonials2 != blank %}
      <div class="test">
        <p>{{ settings.testimonials2 }}</p>
        <p class="attribution">{{ settings.testimonialsauthor2 }}</p>
      </div>
      {% endif %}
      
      {% if settings.testimonials3 != blank %}
      <div class="test">
        <p>{{ settings.testimonials3 }}</p>
        <p class="attribution">{{ settings.testimonialsauthor3 }}</p>
      </div>
      {% endif %}
      
      <div class="clear"></div>
  </div>
</section>

{% endcomment %}

<div class="content-area">