<section class="testimonials-page clearfix">
  	<br /><br />
    <div class="testimonial-block">
      
      {% if settings.testimonials1 != blank %}
      <div class="test">
        <p class="image"><img src="{{ 'testimonial1.png' | asset_url }}" alt="Testimonial image" /></p>
		<div class="copy">
        	<p>{{ settings.testimonials1 }}</p>
        	<p class="attribution">{{ settings.testimonialsauthor1 }}</p>
        </div>
        <div class="clear"></div>
      </div>
      {% endif %}
      
      
      {% if settings.testimonials2 != blank %}
      <div class="test">
        <p class="image"><img src="{{ 'testimonial2.png' | asset_url }}" alt="Testimonial image" /></p>
		<div class="copy">
        	<p>{{ settings.testimonials2 }}</p>
        	<p class="attribution">{{ settings.testimonialsauthor2 }}</p>
        </div>
        <div class="clear"></div>
      </div>
      {% endif %}
      
      
      {% if settings.testimonials3 != blank %}
      <div class="test">
      	<p class="image"><img src="{{ 'testimonial3.png' | asset_url }}" alt="Testimonial image" /></p>
		<div class="copy">
        	<p>{{ settings.testimonials3 }}</p>
        	<p class="attribution">{{ settings.testimonialsauthor3 }}</p>
        </div>
        <div class="clear"></div>
      </div>
      {% endif %}
      
      
      {% if settings.testimonials4 != blank %}
      <div class="test">
        	<p class="image"><img src="{{ 'testimonial4.png' | asset_url }}" alt="Testimonial image" /></p>
		<div class="copy">

        	<p>{{ settings.testimonials4 }}</p>
        	<p class="attribution">{{ settings.testimonialsauthor4 }}</p>
        </div>
        <div class="clear"></div>
      </div>
      {% endif %}
      
      
      {% if settings.testimonials5 != blank %}
      <div class="test">
        	<p class="image"><img src="{{ 'testimonial5.png' | asset_url }}" alt="Testimonial image" /></p>
		<div class="copy">

        	<p>{{ settings.testimonials5 }}</p>
        	<p class="attribution">{{ settings.testimonialsauthor5 }}</p>
        </div>
        <div class="clear"></div>
      </div>
      {% endif %}
      
      
      {% if settings.testimonials6 != blank %}
      <div class="test">
        	<p class="image"><img src="{{ 'testimonial6.png' | asset_url }}" alt="Testimonial image" /></p>
		<div class="copy">

        	<p>{{ settings.testimonials6 }}</p>
        	<p class="attribution">{{ settings.testimonialsauthor6 }}</p>
        </div>
        <div class="clear"></div>
      </div>
      {% endif %}
      
      
      {% if settings.testimonials7 != blank %}
      <div class="test">
        	<p class="image"><img src="{{ 'testimonial7.png' | asset_url }}" alt="Testimonial image" /></p>
		<div class="copy">

        	<p>{{ settings.testimonials7 }}</p>
        	<p class="attribution">{{ settings.testimonialsauthor7 }}</p>
        </div>
        <div class="clear"></div>
      </div>
      {% endif %}
      
      
      {% if settings.testimonials8 != blank %}
      <div class="test">
        	<p class="image"><img src="{{ 'testimonial8.png' | asset_url }}" alt="Testimonial image" /></p>
		<div class="copy">

        	<p>{{ settings.testimonials8 }}</p>
        	<p class="attribution">{{ settings.testimonialsauthor8 }}</p>
        </div>
        <div class="clear"></div>
      </div>
      {% endif %}
      
      
      {% if settings.testimonials9 != blank %}
      <div class="test">
        	<p class="image"><img src="{{ 'testimonial9.png' | asset_url }}" alt="Testimonial image" /></p>
		<div class="copy">

        	<p>{{ settings.testimonials9 }}</p>
        	<p class="attribution">{{ settings.testimonialsauthor9 }}</p>
        </div>
        <div class="clear"></div>
      </div>
      {% endif %}
      
      
      {% if settings.testimonials10 != blank %}
      <div class="test">
        	<p class="image"><img src="{{ 'testimonial10.png' | asset_url }}" alt="Testimonial image" /></p>
		<div class="copy">

        	<p>{{ settings.testimonials10 }}</p>
        	<p class="attribution">{{ settings.testimonialsauthor10 }}</p>
        </div>
        <div class="clear"></div>
      </div>
      {% endif %}
      
      
      {% if settings.testimonials11 != blank %}
      <div class="test">
        	<p class="image"><img src="{{ 'testimonial11.png' | asset_url }}" alt="Testimonial image" /></p>
		<div class="copy">

        	<p>{{ settings.testimonials11 }}</p>
        	<p class="attribution">{{ settings.testimonialsauthor11 }}</p>
        </div>
        <div class="clear"></div>
      </div>
      {% endif %}
      
      
      {% if settings.testimonials12 != blank %}
      <div class="test">
        	<p class="image"><img src="{{ 'testimonial12.png' | asset_url }}" alt="Testimonial image" /></p>
		<div class="copy">
        	<p>{{ settings.testimonials12 }}</p>
        	<p class="attribution">{{ settings.testimonialsauthor12 }}</p>
        </div>
        <div class="clear"></div>
      </div>
      {% endif %}
      
      
      {% if settings.testimonials13 != blank %}
      <div class="test">
        	<p class="image"><img src="{{ 'testimonial13.png' | asset_url }}" alt="Testimonial image" /></p>
		<div class="copy">

        	<p>{{ settings.testimonials13 }}</p>
        	<p class="attribution">{{ settings.testimonialsauthor13 }}</p>
        </div>
        <div class="clear"></div>
      </div>
      {% endif %}
      
      
      {% if settings.testimonials14 != blank %}
      <div class="test">
        	<p class="image"><img src="{{ 'testimonial14.png' | asset_url }}" alt="Testimonial image" /></p>
		<div class="copy">

        	<p>{{ settings.testimonials14 }}</p>
        	<p class="attribution">{{ settings.testimonialsauthor14 }}</p>
        </div>
        <div class="clear"></div>
      </div>
      {% endif %}
      
      
      {% if settings.testimonials15 != blank %}
      <div class="test">
        	<p class="image"><img src="{{ 'testimonial15.png' | asset_url }}" alt="Testimonial image" /></p>
		<div class="copy">

        	<p>{{ settings.testimonials15 }}</p>
        	<p class="attribution">{{ settings.testimonialsauthor15 }}</p>
        </div>
        <div class="clear"></div>
      </div>
      {% endif %}
  </div>
  </section>