<section class="content content-area customer reset-passwor">

  {% include 'breadcrumbs' %}

  <div class="page-title">
    <span class="label">{{ 'customer.reset_password.header' | t }}</span>
  </div>

  <div class="account-form">
    {% form 'reset_customer_password' %}

      <p class="message">{{ 'customer.reset_password.subtext' | t: email: email }}</p>

      {% if form.errors %}
        <div class="error-message"><span>{{ form.errors | default_errors }}</span></div>
      {% endif %}

      <div class="field-wrap password">
        <label>{{ 'general.password' | t }}</label>
        <input type="password" name="customer[password]" class="field">
      </div>

      <div class="field-wrap password-confirmation">
        <label>{{ 'customer.general.password_confirmation' | t }}</label>
        <input type="password" name="customer[password_confirmation]" class="field">
      </div>

      <input type="submit" class="action-button submit-button" value="{{ 'customer.reset_password.submit' | t }}">

    {% endform %}
  </div>

</section>