{% if template contains 'article' and blog.metafields.blogfeeder.use_canonical == 'yes' %}{% assign canonical_url = article.metafields.blogfeeder.canonical %}{% endif %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7 ie6"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10 ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <meta name="google-site-verification" content="wbYtRLwy10138yYenw9659-n1Nr8x-zPYuszgRereB8" /><link rel="shortcut icon" href="{{ 'p.png' | asset_url }}" type="image/png" />
  <link href="{{ 'favicon.png' | asset_url }}" rel="shortcut icon" />

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="google-site-verification" content="4BTWYKlcwnfT7SlQmkIyXIujcrX2So7EU8TusLxoThQ" />

  <title>
    {{ page_title }}

    {% if current_tags %}
      &ndash; "{{ current_tags | join: ', ' }}"
    {% endif %}

    {% if current_page != 1 %}
      &ndash; {{ 'general.pagination.seo_title' | t }} {{ current_page }}
    {% endif %}

    {% unless page_title contains shop.name %}
      &ndash; {{ shop.name }}
    {% endunless %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description }}">
  {% elsif template == 'index' and shop.description != '' %}
    <meta name="description" content="{{ shop.description }}" />
  {% endif %}

  <meta name="viewport" content="width=device-width" />
  

  <!-- Fonts
  ///////////////////////////////////////// -->

  <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>

    var googleFonts = [];

    {% assign font = "'PT Serif', 'Times New Roman', Times, serif" %}
    {% if settings.body-font == font or settings.main-title-font == font or settings.secondary-header-font == font or settings.meta-font == font %}
      googleFonts.push('PT+Serif:400,700,400italic,700italic');
    {% endif %}

    {% assign font = "'Raleway', sans-serif" %}
    {% if settings.body-font == font or settings.main-title-font == font or settings.secondary-header-font == font or settings.meta-font == font %}
      googleFonts.push('Raleway:400,700,600');
    {% endif %}

    {% assign font = "'Open Sans', sans-serif" %}
    {% if settings.body-font == font or settings.main-title-font == font or settings.secondary-header-font == font or settings.meta-font == font %}
      googleFonts.push('Open+Sans:400italic,600italic,700italic,400,700,600');
    {% endif %}

    {% assign font = "'Source Sans Pro', sans-serif" %}
    {% if settings.body-font == font or settings.main-title-font == font or settings.secondary-header-font == font or settings.meta-font == font %}
      googleFonts.push('Source+Sans+Pro:400,600,700,400italic,600italic,700italic');
    {% endif %}

    {% assign font = "'Arvo', serif" %}
    {% if settings.body-font == font or settings.main-title-font == font or settings.secondary-header-font == font or settings.meta-font == font %}
      googleFonts.push('Arvo:400,700,400italic,700italic');
    {% endif %}
    
    {% assign font = "'Work Sans', sans-serif" %}
    {% if settings.body-font == font or settings.main-title-font == font or settings.secondary-header-font == font or settings.meta-font == font %}
      googleFonts.push('Work+Sans:300,400,500,700');
    {% endif %}
    
    {% assign font = "'Capriola', sans-serif" %}
    {% if settings.body-font == font or settings.main-title-font == font or settings.secondary-header-font == font or settings.meta-font == font %}
      googleFonts.push('Capriola:400');
    {% endif %}
    
    {% assign font = "'Lato', sans-serif" %}
      googleFonts.push('Lato:300,400');

    if (googleFonts.length) {
      WebFont.load({
        google: {
          families: googleFonts
        }
      });
    }

  </script>

  <!-- Theme CSS
  ///////////////////////////////////////// -->
  {{ 'style.scss.css' | asset_url | stylesheet_tag }}

  <!-- Third party JS Assets
  ///////////////////////////////////////// -->
  {{ 'modernizr-2.6.2.min.js' | asset_url | script_tag }}
  {{ 'jquery-1.9.min.js' | asset_url | script_tag }}

  {{ "option_selection.js"  | shopify_asset_url | script_tag }}

  {% if template contains 'customers' %}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  {% endif %}

  {% include 'social-meta' %}
  {% include 'theme-options' %}

  {{ content_for_header }}
{{ 'bold-custom.css' | asset_url | stylesheet_tag }}
{{ 'bold-helper-functions.js' | asset_url | script_tag }}
{%- include 'bold-common' -%}
{%- include 'bold-product' with product, hide_action: 'header' -%}
{%- include 'bold-ro-init' -%}


  
  
  <meta name="google-site-verification" content="t3JgjCz8ON1h-FVgaqIPCRXxPxUxpXmTrBdG8Q08F60" />
  
  


<!-- Global site tag (gtag.js) - AdWords: 814108220 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-814108220"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-814108220');
</script>



{{ shop.metafields.okendo.ReviewsWidgetStyleTag }}
  
  <script>
          window['friendbuy'] = window['friendbuy'] || [];
          window['friendbuy'].push(['site', 'site-9f6cf3b4-primallypure.com']);
          window['friendbuy'].push(['track', 'customer',
              {
                  id: '{{ customer.id }}',
                  email: '{{ customer.email }}',
                  first_name: '{{ customer.first_name }}',
                  last_name: '{{ customer.last_name }}'
              }
          ]);
          (function (f, r, n, d, b, y) {
              b = f.createElement(r), y = f.getElementsByTagName(r)[0];b.async = 1;b.src = n;y.parentNode.insertBefore(b, y);
          })(document, 'script', '//djnf6e5yyirys.cloudfront.net/js/friendbuy.min.js');
 </script>

  

  {% render 'shogun-head' %}
</head>

{% assign showSectionHeaders = false %}
{% if settings.show-section-headers %} {% assign showSectionHeaders = true %} {% endif %}

<body class="{% if settings.center-header %}header-centered{% endif %} {% if template contains 'contact' %}template-contact{% else %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% endif %} {% unless showSectionHeaders %}disable-headers{% endunless %} {% if settings.meta-font == "'Open Sans' sans-serif" %}font-open-sans{% endif %} {% if settings.main-title-uppercase %}uppercase{% endif %} {% unless settings.ajax %}no-ajax{% endunless %}">

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=187795038002910";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  
  {% unless page.handle == 'deodorant-quiz' %}

      {% include 'header' %}
  
  {% endunless %}

      {% if template contains 'product' %}
        {% include 'breadcrumbs' %}
      {% endif %}

      {% unless template contains 'collections' %}
        {{ content_for_layout }}
      {% else %}
        {% include 'collections' %}
      {% endunless %}

  {% unless page.handle == 'deodorant-quiz' %}
      {% include 'footer' %}
  
  {% endunless %}

  {% if template contains 'index' or template contains 'collection' or template contains 'product' or template contains '404' or template contains 'search' %}
  <section class="quick-shop">

    <div class="quick-shop-modal">
      <!-- Content dynamically added -->
    </div>

  </section>
  {% endif %}

  {% if template contains 'cart' or template contains 'product' %}
    {{ 'api.jquery.js' | shopify_asset_url | script_tag }}
  {% endif %}

  {% if settings.show-currency-switcher %}
    {{ "//cdn.shopify.com/s/javascripts/currencies.js" | script_tag }}
    {{ "jquery.currencies.js" | asset_url | script_tag }}
  {% endif %}

  {{ 'plugins.js' | asset_url | script_tag }}
  {{ 'site.js' | asset_url | script_tag }}

  <script>
    
    $( document ).ready(function() {
      
          localStorage.setItem('dateNow', new Date());

          if(localStorage.getItem('popDate') == null)
            {
              $("#delayedPopup").delay(15000).fadeIn(400);
                    localStorage.setItem('popState','shown');
                    localStorage.setItem('popDate', new Date());
            }

          if(localStorage.getItem('popDate') != null)
          {
            var dn = new Date(localStorage.getItem('dateNow'));
            var pd = new Date(localStorage.getItem('popDate'));
            var diff = Math.floor (dn - pd )/(1000*60*60*24);
              if(diff >= 1 )
                {
                    $("#delayedPopup").delay(15000).fadeIn(400);
                    localStorage.setItem('popState','shown');
                    localStorage.setItem('popDate', new Date());
                }
          }
      
      
       $( ".x" ).click(function() {
    $('#delayedPopup').fadeOut(400);
  });
    
      
      
      var currentPath = window.location.pathname

    
    if(currentPath == "/pages/deodorant-quiz-charcoal")
    {
      document.getElementById('quiz-result-h2').innerHTML = "CHARCOAL EUCALYPTUS + MINT";
    }
    
      
      
      });
//********************************************************************    
    
  var selectCallbackQuickShop = function(variant, selector) {

    {% if template contains "pre-order" %}
      var submitText = "{{ 'products.product.pre_order' | t }}";
    {% else %}
      var submitText = "{{ 'products.product.add_to_cart' | t }}";
    {% endif %}

    var id = selector.domIdPrefix.split("-")[2];

    if (id) {
      context = $("#quick-shop-" + id)
    } else {
      context = $("#product-area, .mobile-product-title")
    }

    if (variant && variant.available == true) {

      context.find(".submit").val(submitText).removeAttr("disabled")

      if ( variant.compare_at_price > 0 && variant.compare_at_price > variant.price ) {
        context.find('.price').html('<span class="original money" data-currency-' + Theme.currency + '="' + Shopify.formatMoney(variant.compare_at_price, Theme.moneyFormat) + '">' + Shopify.formatMoney(variant.compare_at_price, Theme.moneyFormat) + '</span> <span class="money" data-currency-' + Theme.currency + '="' + Shopify.formatMoney(variant.price, Theme.moneyFormat) + '">' + Shopify.formatMoney(variant.price, Theme.moneyFormat) + '</span>');  // update price field
      } else {
        context.find('.price').html('<span class="money" data-currency-' + Theme.currency + '="' + Shopify.formatMoney(variant.price, Theme.moneyFormat) + '">' + Shopify.formatMoney(variant.price, Theme.moneyFormat) + '</span>');  // update price field
      }

      context.find(".submit").removeClass("disabled").val(submitText); // remove unavailable class from add-to-cart button, and re-enable button

    } else {
      var message = variant ? "{{ 'products.product.sold_out' | t }}" : "{{ 'products.product.unavailable' | t }}";

      context
        .find(".submit").addClass("disabled").attr("disabled", "disabled").val(message)
        .find(".price").text(message);
    }

    if (variant && variant.featured_image) {
      var newImage = variant.featured_image;
      var smallImage = Shopify.Image.getSizedImageUrl(newImage.src, 'small');

      {% if template contains "product" %}
        $("#product-area .thumb img[src*='" + smallImage + "']").click();
      {% else %}
        $(".quick-shop-content .thumb img[src*='" + smallImage + "']").click();
      {% endif %}
    }

    if (Theme.currencySwitcher) {
      $(document.body).trigger('switch-currency');
    }
  };
  </script>


{% include 'back-in-stock-helper' %}
  
{% include 'special-offers' %}  
  <script>
    $(window).on('load', function() {
     $('.single-option-selector').on('change', function(){
      if (BOLD && BOLD.recurring_orders && BOLD.recurring_orders.app && BOLD.recurring_orders.app.ee &&
         typeof BOLD.recurring_orders.app.ee.emit === 'function'){
        BOLD.recurring_orders.app.ee.emit('variant_changed');
      }
    });
    })
   
</script>
    <script>
	var BOLD = BOLD || {};
	BOLD.recurring_orders = BOLD.recurring_orders || {};
	BOLD.recurring_orders.settings = BOLD.recurring_orders.settings || {}
	
	// here is where you assign a new value to the setting you'd like to change
	BOLD.recurring_orders.settings.loadCustomButtonClasses = 'btn button action-button';
</script>
  
  <script type="text/javascript">
  var _learnq = _learnq || [];

  _learnq.push(['account', 'HmR2mG']);

  (function () {
  var b = document.createElement('script'); b.type = 'text/javascript'; b.async = true;
  b.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'a.klaviyo.com/media/js/analytics/analytics.js';
  var a = document.getElementsByTagName('script')[0]; a.parentNode.insertBefore(b, a);
  })();
</script>
  
  <script async type="text/javascript" src="//static.klaviyo.com/onsite/js/klaviyo.js?company_id=HmR2mG"></script>
  
</body>
<script src="//my.hellobar.com/86f413e6e5c40c32443f5949d2cff0c287a7620b.js" type="text/javascript" charset="utf-8" async="async"></script>
</html>
