{{ 'special-collection.scss.css' | asset_url | stylesheet_tag }}
{{ 'skin-state-quiz.scss.css' | asset_url | stylesheet_tag }} 
<script>
  $( document ).ready(function() {
    // pre-select the dry cleansing oil for the double cleansing kit
    $('.product-4098877849684 select[name="id"]').val("30120207908948").change();
    
    $('.bundle-collection').hide();
    $('.tier2').show();
    $('.tier2-link').addClass("selected");
    $('.tier1-link').click(function() {
      $('.bundle-collection').hide();
      $('.tier1').show();
      $('.regimen-nav li').removeClass("selected");
      $('.tier1-link').addClass("selected");
    });
    $('.tier2-link').click(function() {
      $('.bundle-collection').hide();
      $('.tier2').show();
      $('.regimen-nav li').removeClass("selected");
      $('.tier2-link').addClass("selected");
    });
    $('.tier3-link').click(function() {
      $('.bundle-collection').hide();
      $('.tier3').show();
      $('.regimen-nav li').removeClass("selected");
      $('.tier3-link').addClass("selected");
    });
    
    $('.nested-accordion').find('.comment').slideUp();
    $('.nested-accordion').find('h3').click(function(){
      $(this).next('.comment').slideToggle(100);
      $(this).toggleClass('selected');
    });
    
   
  });
</script>

<div id="purescription" class="template-collection">
  <section class="collection-hero">
    <div class="content content-area flex">
      <div class="collection-video">
        <img src="{{ 'Dry-Regimen.jpg' | asset_url }}" alt="Dry Skin Regimen" />
      </div>
      <div class="collection-text" style="width: 80%; max-width: 600px; display: block; margin: auto; text-align: center">
        <p class="intro" style="text-align: center">Your skin state:</p>
        <h1 style="text-align: center">Dry</h1>
        <p style="text-align: left">Your skin tends to feel more flaky, tight, dry, or sensitive with signs of aging along with less visible pores all over the face. You’re consistently reaching for another layer of lotion, searching for products to promote a youthful glow and you’ve got reminders of the years you’ve lived along your lips as smile lines. Dry, mature skin types are beautiful but often times just need a bit of a boost.</p>
      </div>
    </div>
  </section>
  <section class="purescription-bundles content content-area" id="your-bundle">
    <h3>Choose Your Dry Skin Regimen</h3>
    
    <ul class="regimen-nav">
      <li class="tier1-link">The <span>Basics</span></li>
      <li class="tier2-link">The <span>Essentials</span></li>
      <li class="tier3-link">The <span>Works</span></li>
    </ul>
    
    <div class="tier1 bundle-collection">
      <ul class="product-list four">
        {% for product in collections.dry-skin-level-1.products %}
          {% include 'bundle-item' %}
        {% endfor %}
      </ul>
      <div class="button final-button" style="text-align: left; margin: 0">
        <a href="{{ all_products['dry-skin-regimen-the-basics'].url }}">Buy Together + Save</a>
        <div class="bundle-sale">
          <p>
        <p class="price">{{ all_products['dry-skin-regimen-the-basics'].price | money }} 
            <span>{{ all_products['dry-skin-regimen-the-basics'].compare_at_price | money }}</span></p>
        </div>
      </div>
    </div>
    
    <div class="tier2 bundle-collection">
      <ul class="product-list four">
        {% for product in collections.dry-skin-level-2.products %}
          {% include 'bundle-item' %}
        {% endfor %}
      </ul>
      <div class="button final-button">
        <a href="{{ all_products['dry-skin-regimen-the-essentials'].url }}">Buy Together + Save</a>
        <div class="bundle-sale">
          <p>{{ all_products['dry-skin-regimen-the-essentials'].price | money }} 
          <span>{{ all_products['dry-skin-regimen-the-essentials'].compare_at_price | money }}</span></p>
        </div>
      </div>
    </div>
    
    <div class="tier3 bundle-collection">
      <ul class="product-list four">
        {% for product in collections.dry-skin-level-3.products %}
          {% include 'bundle-item' %}
        {% endfor %}
      </ul>
      
      <div class="button final-button">
        <a href="{{ all_products['dry-skin-regimen-the-works'].url }}">Buy Together + Save</a>
        <div class="bundle-sale">
          <p>{{ all_products['dry-skin-regimen-the-works'].price | money }} 
          <span>{{ all_products['dry-skin-regimen-the-works'].compare_at_price | money }}</span></p>
        </div>
      </div>
      
      
    </div>
   
    


  </section>
  <section class="full-routine content content-area">
    <h3 style="text-transform: uppercase; text-align: center;">Your Pure-Scription</h3>

    <div class="reg-step">
    <h4>Step 1: Cleanse</h4>
    <ul>
      <li><a href="/products/cleansing-oil-dry-skin">Dry Cleansing Oil:</a> Specifically formulated with a blend of age-defying oils known to detoxify the skin + dissolve impurities without over-drying to create a soft, nourished complexion.</li>
    </ul>
    <p><em>Skin Tip:</em> Cleansing 1x/day before bed is all you need! If you need more a refresh first thing in the morning (or after a sweat session), use the <a href="/products/baby-bar">Baby Bar</a> for a gentle cleanse.</p>
    </div>
    <div class="reg-step">
      <h4>Step 2: Tone</h4>
      <ul>
        <li><a href="/products/everything-spray">Everything Spray</a>: Pour onto an organic cotton round and sweep across your skin to help calm redness, detoxify skin and balance pH levels with healing enzymes + anti-inflammatory ingredients.</li>
        <li><a href="/products/geranium-complexion-mist">Geranium Complexion Mist</a>: Spritz onto skin to replenish, regenerate skin cells, bring life to dull, dehydrated complexions and to prep skin to deeply absorb moisturizer.</li>
      </ul>
    </div>
    <div class="reg-step">
      <h4>Step 3: Treat</h4>
      <ul>
        <li><a href="/products/plumping-serum">Plumping Serum</a>: Massage into damp skin morning + night to deeply nourish, promote a youthful appearance, soften signs of aging and plump skin naturally.</li>
      </ul>
    </div>
    <div class="reg-step">
      <h4>Step 4: Hydrate</h4>
      <ul>
        <li><a href="/products/baby-balm">Baby Balm</a>: Gently dab this vitamin-rich balm around the delicate eye area to deeply nourish and soften signs of aging.</li>
        <li><a href="/products/beauty-cream">Palmarosa + Mint Beauty Cream</a>: Apply a light layer to increase moisture in the skin, diminish fine lines + reduce signs of aging without clogging pores.</li>
      </ul>
      <p><em>Skin Tip:</em> For added hydration, spritz <a href="/products/geranium-complexion-mist">Geranium Complexion Mist</a> after applying Beauty Cream as well!</p>
    </div>
    
    <div class="reg-step">
      <h4>Bonus: Double Cleanse + Multi-Mask</h4>
      <ul>
        <li><a href="/products/double-cleansing-kit">Double Cleanse:</a> This 2-step technique (<a href="/products/cleansing-oil-oily-acne-prone-skin">Oily Cleansing Oil</a> + <a href="/products/baby-bar">Baby Bar</a>) purifies dry skin while leaving it properly hydrated to create a clear, balanced complexion.</li>
        <li><a href="/products/mask-trio">Mask Trio</a>: Gently sweep away dead/dull surface cells, refine skin texture and target dry skin needs all at the same time. Multi-mask and relax to reveal visibly brighter skin.</li>
      </ul>
    </div>
  
  </section>

  <section class="regimen-routine">
    <div class="content content-area">
    <h3 style="text-transform: uppercase; text-align: center;">Your Daily Ritual</h3>
      <div class="routine flex">
        <div class="time am">
          <div class="head-wrap">
            <div class="icon"><img src="{{ 'icon-morning.svg' | asset_url }}" alt="" /></div>
            <h4>AM</h4>
          </div>
          <ol>
            <li>Splash skin with water + pat dry</li>
            <li>Apply <a href="/products/everything-spray">Everything Spray</a> and/or spritz <a href="/products/geranium-complexion-mist">Geranium Complexion Mist</a></li>
            <li>Massage <a href="/products/plumping-serum">Plumping Serum</a> into damp skin</li>
            <li>Apply <a href="/products/beauty-cream">Palmarosa + Mint Beauty Cream</a> <em>(if needed!)</em></li>
          </ol>
        </div>
        <div class="time pm">
          <div class="head-wrap">
            <div class="icon"><img src="{{ 'icon-nightly.svg' | asset_url }}" alt="" /></div>
            <h4>PM</h4>
          </div>
          <ol>
            <li><a href="/products/cleansing-oil-oily-acne-prone-skin">Oil Cleanse</a></li>
            <li>Apply <a href="/products/everything-spray">Everything Spray</a> and/or spritz <a href="/products/geranium-complexion-mist">Geranium Complexion Mist</a></li>
            <li>Massage <a href="/products/plumping-serum">Plumping Serum</a> into damp skin</li>
            <li>Dab <a href="/products/baby-balm">Baby Balm</a> around eye area</li>
            <li>Apply <a href="/products/beauty-cream">Palmarosa + Mint Beauty Cream</a> or Baby Balm</li>
          </ol>
        </div>
        <div class="time weekly">
          <div class="head-wrap">
            <div class="icon"><img src="{{ 'icon-weekly.svg' | asset_url }}" alt="" /></div>
            <h4>Weekly</h4>
          </div>
          <ol>
            <li><a href="/products/double-cleansing-kit">Double Cleanse</a> as the first step in your PM routine 2-3x/week</li>
            <li>Multi-mask with the <a href="/products/mask-trio">Mask Trio</a> after cleansing 1-3x/week</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  
  
  <section class="content tan-bg helpful-resources" style="padding-bottom: 60px">
    <h3 style="text-align: center; text-transform: uppercase;">Step-by-Step Rituals with our Holistic Esthetician</h3>
    <div class="featured-posts flex">
      <div class="featured-post">
        <div class="post-image"><style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/aaPUv95Ufxc?modestbranding=1&autohide=1&showinfo=0&controls=0' frameborder='0' allowfullscreen></iframe></div>
</div>
        <div class="post-title">AM Routine</div>
      </div>
      <div class="featured-post">
        <div class="post-image"><style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/r3S2okHlovQ?modestbranding=1&autohide=1&showinfo=0&controls=0' frameborder='0' allowfullscreen></iframe></div>
</div>
        <div class="post-title">PM Routine</div>
      </div>
      <div class="featured-post">
        <div class="post-image"><style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/NJMQ2neNgA0?modestbranding=1&autohide=1&showinfo=0&controls=0' frameborder='0' allowfullscreen></iframe></div>
</div>
        <div class="post-title">Weekly Routine</div>
      </div>
    </div>
  </section>
  
  <section class="regimen-ingredients content content-area">
    <h3 style="text-transform: uppercase; text-align: center;">KEY INGREDIENTS FOR DRY SKIN</h3>
  <div class="ingredients flex">
      <div class="ingredient one">
        <div class="ingredient-image"><img src="{{'icon_geranium.png' | asset_url }}" alt="Geranium" /></div>
        <h4>Geranium</h4>
        <p>A powerful skin regenerator that diminishes the appearance of scarring, fine lines and signs of aging. <em>(Found in <a href="/products/geranium-complexion-mist">Geranium Complexion Mist</a>, <a href="/products/plumping-serum">Plumping Serum</a> + <a href="/products/plumping-mask">Plumping Mask</a>.)</em></p>
      </div>
      <div class="ingredient two">
        <div class="ingredient-image"><img src="{{'icon_astraxanthin.png' | asset_url }}" alt="Astraxanthin" /></div>
        <h4>ASTAXANTHIN</h4>
        <p>Sourced from algae, this compound is hundreds of times stronger than Vitamin E, C and and Coenzyme Q10, and is an incredibly protective and transformative ingredient for fighting free radicals and promoting a youthful appearance.  <em>(Found in <a href="/products/plumping-serum">Plumping Serum</a>.)</em></p>

      </div>
      <div class="ingredient three">
        <div class="ingredient-image"><img src="{{'icon_bakuchiol.png' | asset_url }}" alt="Bakuchiol" /></div>
        <h4>BAKUCHIOL</h4>
        <p>This natural retinol alternative accelerates cell renewal, minimizes signs of aging and improves skin texture, tone + tightness without any associated irritation or redness from conventional retinol. <em>(Found in <a href="/products/plumping-mask">Plumping Mask</a>.)</em></p>
      </div>
    </div>
  </section>
  
  <section class="content tan-bg regimen-faq">
    <h3 style="text-align: center">FAQs</h3>
    <div class="regimen-faqs">
      
      <div class='nested-accordion'>
        <h3>How long will it take to see results?</h3>
        <div class='comment'>
          <p>You may notice some results right away, such as more nourished, balanced skin and an overall more glowing complexion. For some skin states, if you're just starting out with a natural skincare routine and transitioning to non-toxic products for the first time, your skin may experience a bit of an adjustment period! We suggest staying consistent with your regimen for about 6-8 weeks for your skin to detoxify and determine how effective the regimen is for your skin needs. Natural products adopt the pace of nature (slow + steady), so sometimes patience is necessary with new products.</p>
          <p>However, if your skin reacts immediately after applying a new product, discontinue use until your skin heals. You can try slowly incorporating that product back into your skincare routine to discover if it’s an allergy, sensitivity or just a bit of shock from a brand new product.</p>
        </div>
      </div>
      <div class='nested-accordion'>
        <h3>Will this regimen solve all my skin woes?</h3>
        <div class='comment'>
          <p>Because breakouts, sensitivities and dryness can all be impacted by hormones, gut health, environmental factors, stress, nutrition and more, topical products aren’t always the only solution. If you’re prone to these skin conditions, the best way to get real results is to start at the source. Our skin is our largest organ and is a reflection of what’s going on beneath the surface, so it’s essential to take a holistic approach to achieve a naturally clear, healthy complexion.</p>
          <p>It’s important to build a consistent beauty routine on the foundations of a healthy lifestyle to support skin that truly glows - from the food we put on our plate and the way we cope with stress to the quality of our sleep and the state of our mind + mood, it all makes a difference. We encourage you to make healthy habits a priority in your clear skin protocol (and daily life) for vibrant, balanced and hydrated skin that lasts.</p>
          <p>Not sure where to start? We’ve curated countless clear skin content on our blog, <a href="https://blog.primallypure.com">Pure Life</a>, and created a <a href="/products/holistic-skincare-guide">Holistic Skincare Guide</a> in partnership with other industry experts to offer you powerful insight + practical tips to promote glowing skin through diet + nutrition, lifestyle habits and topical skincare products.</p>
        </div>
      </div>
      <div class='nested-accordion'>
        <h3>What if my skin starts to feel overly dry, sensitive or oily after I start my regimen?</h3>
        <div class='comment'>
          <p>Sometimes dry skin can be the result of over-cleansing. If you're noticing more dryness with your double-cleansing ritual, try cleansing with just the Cleansing Oil at night and skip the double cleanse. You can also focus on hydration in your evening routine by layering your skin-specific serum and beauty cream to wake up with a healthy, hydrated glow. Some people find that adding a natural clay + honey-based mask into their routine helps their products absorb more deeply.</p>
          <p>If your skin is experiencing more oil production throughout the day, feel free to use just your complexion mists as a moisturizer in the AM - some oil-rich skin states find that this is all they need for day-time hydration. Also try incorporating the double cleansing technique to your nightly routine more regularly to help deeply purify skin + balance oil production.</p>
        </div>
      </div>
    </div>
  </section>
  
  <section>
    <div class="center tagline" style="text-transform: none;">#myPUREscription</div>
    <div class="ugc">
      <!--<div><img src="{{ 'Autumn-Home-Wildcrafted.jpg' | asset_url }}" alt="" /></div>
      <div><img src="{{ 'Autumn-Home-Wildcrafted.jpg' | asset_url }}" alt="" /></div>
      <div><img src="{{ 'Autumn-Home-Wildcrafted.jpg' | asset_url }}" alt="" /></div>
      <div><img src="{{ 'Autumn-Home-Wildcrafted.jpg' | asset_url }}" alt="" /></div>
      <div><img src="{{ 'Autumn-Home-Wildcrafted.jpg' | asset_url }}" alt="" /></div>
      <div><img src="{{ 'Autumn-Home-Wildcrafted.jpg' | asset_url }}" alt="" /></div>-->
    </div>
  </section>
  
</div>